 <div  id="nav_wrap"  class="outer">

 	<!--navbar-->
 	<div class=" mynav inner">
 		
 		<nav class="nav navbar-toggleable-sm navbar-inverse">
 			
                <a id="brand" class="navbar-brand">Menu</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

    
        
        <div class="collapse navbar-collapse " id="navbarToggler">

            <ul class="navbar-nav mx-auto text-center">

               {% for nav in site.data.rtca.navbar %}
               {% if nav.visible %}
               {% if page.url == nav.path %} 
               <li class="nav-item active">

                  <a class="nav-link m-1" href=".{{ nav.path }}">
                     <strong>{{ nav.label | escape }}</strong>
                     <span class="sr-only">(current)</span>
                 </a>
             </li>
             {% else %} 
             <li class="nav-item">
              <a class="nav-link m-1" href=".{{ nav.path }}">
                 <strong>{{ nav.label | escape }}</strong>
             </a>
         </li>   
         {% endif %}
         {% endif %}
         {% endfor %}
     </ul>
 </div>


</nav>
</div>


</div>


