 <div   class="outer" id="navothers">


   <div class="btn-group" role="group" aria-label="Button group with nested dropdown">


      <!--   Menu general -->

      <div class="btn-group" role="group">

       {% if {{page.page_site}} == "RTCA" %}
       <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle mynavthis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        RTCA
     </button>
     {% else %}
     <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle mynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        RTCA 
     </button>
     {% endif %}

     <div class="dropdown-menu mynav" aria-labelledby="btnGroupDrop1">
      {% for nav in site.data.rtca.navbar %}
      {% if page.url == nav.path %} 
      <a class="dropdown-item mynavthis" href="{{ nav.path }}">{{ nav.label}}</a>
      {% else %}
      <a class="dropdown-item mynav" href="{{ nav.path }}">{{ nav.label}}</a>
      {% endif %}
      {% endfor %}
      </div>

      </div>

   <!--   Menu Lyon  -->

 <div class="btn-group" role="group">

       {% if {{page.page_site}} == "Lyon" %}
       <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle mynavthis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lyon
     </button>
     {% else %}
     <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle mynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lyon
     </button>
     {% endif %}

     <div class="dropdown-menu mynav" aria-labelledby="btnGroupDrop2">
      {% for nav in site.data.rtca.navbarlyon %}
      {% if page.url == nav.path %} 
      <a class="dropdown-item mynavthis" href="{{ nav.path }}">{{ nav.label}}</a>
      {% else %}
      <a class="dropdown-item mynav" href="{{ nav.path }}">{{ nav.label}}</a>
      {% endif %}
      {% endfor %}
      </div>

      </div>

   <!--   Menu Paris  -->   

<div class="btn-group" role="group">

       {% if {{page.page_site}} == "Paris" %}
       <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle mynavthis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Paris
     </button>
     {% else %}
     <button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle mynav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Paris
     </button>
     {% endif %}

     <div class="dropdown-menu mynav" aria-labelledby="btnGroupDrop3">
      {% for nav in site.data.rtca.navbarparis %}
      {% if page.url == nav.path %} 
      <a class="dropdown-item mynavthis" href="{{ nav.path }}">{{ nav.label}}</a>
      {% else %}
      <a class="dropdown-item mynav" href="{{ nav.path }}">{{ nav.label}}</a>
      {% endif %}
      {% endfor %}
      </div>

      </div>


   </div> <!--  Groupe de boutons -->

   
</div>  



