<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <title>{{ site.title }}</title>
  
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
 
</head>

  <body>

    <!-- HEADER -->
    {% if page.page_id == 0 %}
    <div id="header_wrap" class="outer">

      <header class="inner">

        <div style="text-align: right">
         <a href="http://www.ihp.fr" ><img id="IHPhome" alt="logo IHP" 
          src="{{ site.logo_url }}/assets/images/Logos/Logo_IHP.png"> </a>
         <a href="https://milyon.universite-lyon.fr" ><img id="MILYONhome" alt="logo MILYON" 
          src="{{ site.logo_url }}/assets/images/Logos/LABEX_MILYON.jpg"></a> 
       </div>

       <h1 id="project_title"> {{ site.title }}</h1>



     </header>
   </div>
   {% endif %}

   {% include navbar.html %}

 
    <!-- MAIN CONTENT --> 
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>





    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      
      <div>
        <a href="http://www.cnrs.fr" ><img   class="logo" alt="logo CNRS" src="./assets/images/CNRS.png"> </a>
        <a href="http://www.ihp.fr" ><img   class="logo" alt="logo IHP" src="{{ site.logo_url }}/assets/images/Logos/Logo_IHP.png"> </a>
        <a href="https://milyon.universite-lyon.fr" ><img  class="logo" alt="logo MILYON" src="{{ site.logo_url }}/assets/images/Logos/LABEX_MILYON.jpg"></a> 
        <a href="https://www.cirm-math.fr" ><img  class="logo" alt="logo CIRM" src="{{ site.logo_url }}/assets/images/Logos/cirm.jpg" ></a> 
        <a href="https://www.gdr-im.fr" ><img  class="logo2" alt="logo GDR IM" src="{{ site.logo_url }}/assets/images/Logos/GDRIM.png" ></a> 
      </div>
         
  
      </footer>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
  </body>
</html>
