<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sider Menu Bar CSS</title>
    
  
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    
<div id="header_wrap" class="outer">

      <header class="inner">

        <div style="text-align: right">
         <a href="http://www.ihp.fr" ><img id="IHPhome" alt="logo IHP" 
          src="{{ site.logo_url }}/assets/images/Logos/Logo_IHP.png"> </a>
         <a href="https://milyon.universite-lyon.fr" ><img id="MILYONhome" alt="logo MILYON" 
          src="{{ site.logo_url }}/assets/images/Logos/LABEX_MILYON.jpg"></a> 
       </div>

       <h1 id="project_title"> {{ site.title }}</h1>



     </header>
   </div>


    <div id="main_content_wrap" class="outer">

     

      <section id="main_content" class="inner">
         <input type="checkbox" id="check" checked="true">
    <label for="check">
      <i class="fas fa-times" id="cancel"></i>
      <i class="fas fa-bars" id="btn"></i>
      
    </label>
    <div class="sidebar" class="inner">
    <ul>
     <li><a href="{{ site.logo_url }}/committee.html">Dashboard</a></li>
     <li><a href="#">Shortcuts</a></li>
     <li><a href="#">Overview</a></li>
     <li><a href="#">Events</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Services</a></li>
     <li><a href="#">Contact</a></li>
    </ul>
   </div>
        {{ content }}
      </section>
    </div>




  </body>
</html>

